/* color and image */
body {
    background-color: lightblue;
    background-image: url("./assets/images/လှူဒါန်းခြင်း၁.jpeg");
    background-repeat: no-repeat;
    /* background-repeat: round; */
    /* background-repeat: space; */
    background-position: center;
    /* background-attachment: fixed; */
    /* background-attachment: scroll; */
    background-size: cover;
    /* min-height: fit-content; */

}

/* header text */
h1 {
    font-size: 45px;
    color: #000;
    text-align: center;
}

